<p id="notice"><%= notice %></p>

<div class="quotes">
  <h1>Listing Quotes</h1>

  <ul>
    <li>
      <% @quotes.each do |quote| %>
        <ul class="card">
          <li><p><%= quote.body %></p></li>
          <li><%= link_to (image_tag quote.culprit.profile_picture.url),user_show_path(quote.culprit) %></li>
          <% unless quote.liked_by.exists?(current_user) %>
          <li><%= link_to 'Like', like_quotes_path(quote), class: "glyphicon glyphicon-thumbs-up" %></li>
          <% else %>
          <li><%= link_to 'unLike', unlike_quotes_path(quote), class: "glyphicon glyphicon-thumbs-down" %></li>
          <% end %>
        </ul>
      <% end %>    
    </li>
  </ul>  
</div>

<%= link_to 'New quote', new_quote_path %>