<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Culprit</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.body %></td>
        <td><%= link_to quote.culprit.username , user_show_path(quote.culprit) %></td>
        <td><%= quote.date %></td>
        <td><%= quote.image %></td>
        <td><%= image_tag quote.image.thumbnail.url %></td>
        <td><%= image_tag quote.culprit_image, :width => 50, :height => 50 %></td>
        


        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>

