<!DOCTYPE html>
<html>
<head>
  <title>QuoteBook</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li><a href="/users/<%= current_user.id %>"><%= image_tag current_user.profile_picture.thumbnail.url %></a></li>
        <li class="nav-item"><%= link_to "Edit Profile" , edit_user_registration_path %></li>
        <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li class="nav-item"><%= link_to " All quotes" , quotes_path %></li>
        <li class="nav-item"><%= link_to " All users" , users_path %></li>
        <li class="nav-item"><%= link_to "Add a quote" , new_quote_path %></li>
        
      <% else %>
        <li class="nav-item"><%= link_to "Sign in" , user_session_path %></li>
        <li class="nav-item"><%= link_to "Register", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav> 

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <main>
    <%= yield %>
  </main>
</body>
</html>
